<!DOCTYPE html>
<html>

<head>
  <title>Movies Dekho .com - Login</title>
  <link rel="stylesheet" type="text/css" href="/login.css">
</head>

<body>
  <h1>Movies Dekho .com - Login</h1>

  <form>
    <input type="email" id="login-email" placeholder="Email">
    <input type="password" id="login-password" placeholder="Password">
    <button class="login-button" onclick="login(event)">Login</button>
    <button onclick="navigateToSignup(event)">Sign Up</button>
  </form>

  <script src="/login.js"></script>
</body>

</html>