<!DOCTYPE html>
<html>

<head>
  <title>Movies Dekho .com - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/signup.css">
</head>

<body>
  <h1>Movies Dekho .com - Sign Up</h1>

  <form>
    <input type="email" id="signup-email" placeholder="Email">
    <input type="password" id="signup-password" placeholder="Password">
    <button onclick="signup(event)">Sign Up</button>
  </form>

  <script src="/signup.js"></script>
</body>

</html>